@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./../fonts/press-start-2p-v14-latin-ext_latin_cyrillic-regular.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue: #5dc2e6;
  --yellow: #ffe4c4;
  --green: #0be0a0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  font: inherit;
  text-transform: none;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:where(button, input, select, textarea) {
  margin: 0;
}

:where(button, input:is([type="button" i], [type="reset" i], [type="submit" i])) {
  -webkit-appearance: button;
}

:where(select) {
  text-transform: none;
}

:where(:-moz-ui-invalid) {
  box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.page {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--blue);
  background-color: var(--yellow);
}

.page__wrap {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1250px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
  width: 100%;
}

.d-none {
  display: none;
}

.opacity {
  opacity: 0.3;
}

.winner {
  color: var(--green);
  opacity: 1;
}

.button {
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  border: 1px dashed currentColor;
}

.button:active {
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  margin-bottom: 40px;
  padding-top: 70px;
  width: 100%;
}

.main__title {
  margin-bottom: 20px;
}

.main__text {
  font-size: 20px;
  line-height: 1.5;
}

.main__info {
  margin-bottom: 20px;
  min-height: 250px;
}

.main__cursor {
  display: inline-block;
  min-height: 20px;
  border-right: 4px solid currentColor;
  animation-name: cursor;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

@keyframes cursor {
  from {
    border-color: currentColor;
  }

  50% {
    border-color: transparent;
  }

  to {
    border-color: currentColor;
  }
}

.main__links {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.main__items {
  border: 1px dashed currentColor;
}

.main__link {
  display: inline-block;
  padding: 20px 40px;
  font-size: 16px;
  text-transform: uppercase;
}

.main__items:hover {
  color: #fff;
}

@media (max-width: 1000px) {
  .main__info {
    min-height: 280px;
  }
}

@media (max-width: 900px) {
  .main__info {
    min-height: 320px;
  }
}

@media (max-width: 860px) {
  .main__text {
    font-size: 19px;
  }
}

@media (max-width: 740px) {
  .main__content {
    padding-top: 40px;
  }

  .main__title {
    font-size: 22px;
  }

  .main__text {
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  .main__links {
    column-gap: 50px;
  }
}

@media (max-width: 600px) {
  .main__text {
    font-size: 16px;
  }

  .main__link {
    font-size: 14px;
  }
}

@media (max-width: 555px) {
  .main__cursor {
    min-height: 15px;
  }

  .main__content {
    margin-bottom: 20px;
  }

  .main__text {
    font-size: 15px;
  }

  .main__link {
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  .main__text {
    font-size: 14px;
  }

  .main__links {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .main__items {
    max-width: 200px;
  }
}

@media (max-width: 420px) {
  .main__info {
    min-height: 370px;
  }
}

@media (max-width: 390px) {
  .main__info {
    min-height: 400px;
  }
}

@media (max-width: 345px) {
  .main__text {
    font-size: 13px;
  }
}

.footer {
  margin: 0 auto;
  padding: 20px 0;
}

.footer a:hover {
  text-decoration: underline;
}